body {
    background-color: #eee;
  }

  .node circle {
    fill: #fff;
    stroke: black;
    stroke-width: 1px;
  }

  .node text { font: 16px sans-serif; }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

  .filtro{
    text-align: center;
  }

.tooltip{
  position: absolute;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  max-width: 350px;
  text-align: justify;
}
